.button {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  padding-top: 11px;
  padding-bottom: 11px;
  border: none;
  cursor: pointer;
}

.button-color {
  color: @white;
  background-color: @background-button;
}

.button-secondary {
  color: @black-4;
  background-color: @background-cart;
}

//
