//color
@mobile: 320px;
@tablet: 768px;
@desktop: 1440px;
@black: #000000;
@black-1: #111111;
@black-2: #222222;
@black-4: #444444;
@white: #FFFFFF;
@background-cart: #F2F2F2;
@border: #E6E6E6;
@input-border: #E7E7E7;
@border-color-stats: #CDCDCD;
@grey-slider: #DCDCDC;
@border-cart: #D9D9D9;
@background-button: rgb(104, 183, 56);
@green: #68B738;
@background-green-promo: fade(@background-button, 85%);
@background-stats: #EAEAEA;
@border-catalog: #EBEBEB;
//other
@arial-font: "Arial", "Arial", sans-serif;
@oswald-font: "Oswald", "Arial", sans-serif;

//
