@mobile: 320px;
@black: #000000;
@white: #FFFFFF;
@background-green-promo: rgba(104, 183, 56, 0.85);
@background-button: #68B738;
@grey-program-text: #444444;
@black-title: #111111;
@background-white: #F2F2F2;
@grey-desig: #C4C4C4;
@background-stats: #F2F2F2;
@special-dark-grey: #222222;
@special-dark-grey-4: #444444;
//
