.heading-block__title {
  .font-family-oswald();
  .margin-padding();
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  color: @black;
}

.catalog-items {
  .list-style();
  .margin-padding();
}

.catalog-items__title {
  .font-family-oswald();
  .margin-padding();
  .text-decoration();
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  color: @special-dark-grey;
}

.text__item {
  .font-family-arial();
  .margin-padding();
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;

  color: @special-dark-grey-4;
}

.gift-block__text {
  .font-family-arial();
  .margin-padding();
  .text-decoration();
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  color: @white;
}
