.heading__title-item {
  .font-family-oswald();
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  .margin-padding();

  color: @black;
}

.product-definition {
  .list-style();
  .margin-padding();
}

.heading-block__item-title {
  .font-family-oswald();
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  .margin-padding();
  .text-decoration();

  color: @special-dark-grey;
}

.product-definition__text {
  .font-family-arial();
  .margin-padding();
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  color: @special-dark-grey-4;
}

.product-definition__text-sup {
  .font-family-arial();
  .margin-padding();
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  color: @special-dark-grey-4;
}

.button {
  .font-family-oswald();
  .margin-padding();
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;

  &--size-color {
    color: @white;
    background-color: @background-button;
    border: 0;
    min-width: 280px;
    min-height: 40px;
  }
}

.button-full {
  .font-family-oswald();
  .margin-padding();
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;

  &--size-color {
    color: @special-dark-grey-4;
    background-color: @background-white;
    border: 0;
    min-width: 280px;
    min-height: 40px;
  }
}


//
