.title {
  .font-family-oswald();
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  .margin-padding();

  color: @black;
}

.features__list {
  .list-style();
  .margin-padding();
}

.features__item-text {
  .font-family-arial();
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  .margin-padding();

  color: @grey-program-text;
}
//
