.features__title {
  margin-top: 27px;
  margin-bottom: 38px;

  @media (min-width: @tablet) {
    margin-top: 46px;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop) {
    margin-top: 71px;
    margin-bottom: 34px;
  }
}

.features {
  border-bottom: 1px solid @border;
  @media (min-width: @desktop) {
    margin-bottom: 25px;
    border: none;
  }
}
//
