.form-heading__title {
  .font-family-oswald();
  .margin-padding();
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;

  color: @black;
}

.form-block-heading__title {
  .font-family-oswald();
  .margin-padding();
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  color: @black;
}

.form-block__label {
  .font-family-oswald();
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  color: @special-dark-grey-4;
}

.form-block__input {
  .font-family-oswald();
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  color: @special-dark-grey-4;
}

.form-block__label-radio {
  .font-family-oswald();
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  color: @black;
}

.form-block__label-radio--color {
  color: @special-dark-grey;
}

.form-block__title {
  .font-family-oswald();
  .margin-padding();
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  color: @black;
}

.form-block__more-information-title,
.form-block__optionally-information-title {
  .font-family-oswald();
  .margin-padding();
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;

  color: @black;
}

.text-sup {
  .font-family-arial();
  .margin-padding();
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  color: @black;
}
//
