.gift-block {
  display: flex;
  background-image: url("../img/gift-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: @background-green-promo;
  margin: 0 auto;
  width: 280px;
  height: 289px;

  margin-top: 36px;
  margin-bottom: 37px;

  @media (min-width: @tablet) {
    background-image: url("../img/gift-background-tablet.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: @background-green-promo;
    width: 708px;
    height: 200px;
    margin-top: 68px;
    margin-bottom: 75px;
  }

  @media (min-width: @desktop) {
    background-image: url("../img/gift-background-desctop.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: @background-green-promo;
    width: 245px;
    height: 289px;
    margin: 0;
  }
}

.gift-block__text {
  display: block;
  font-family: @arial-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-decoration: none;

  color: @white;
  margin: 58px 61px 43px 58px;
  padding-top: 129px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-gift.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 80px;
    height: 82px;
    top: 1px;
    left: 43px;
    z-index: 3;
  }

  @media (min-width: @tablet) {
    margin: 72px 124px 60px 423px;
    width: 161px;
    text-align: left;
    padding: 0;

    &::before {
      top: -15px;
      left: -344px;
    }
  }

  @media (min-width: @desktop) {
    margin: 55px 43px 42px 41px;
    width: 100%;
    padding-top: 133px;
    text-align: center;

    &::before {
      top: 1px;
      left: 43px;
    }
  }
}
//
