.logo-block__logo-picture {
  text-decoration: none;
}

.logo-block__logo-text {
  text-decoration: none;
  text-align: center;
  margin-right: 10px;
  margin-top: 5px;

  @media (min-width: @tablet) {
    display: none;
  }
}

.logo-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 17px;
}

.logo-block__button-menu--closed {
  content: "";
  width: 24px;
  height: 2px;
  box-shadow: 0 8px 0 0 @black, 0 16px 0 0 @black;
  background-color: @black;
  border: none;
  margin-bottom: 16px;
  cursor: pointer;
  display: block;

  @media (min-width: @tablet) {
    display: none;
  }
}

.logo-block__button-menu--open {
  border: none;
  background-color: @white;
  position: relative;
  cursor: pointer;
  margin-right: 12px;
  margin-top: 7px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -2px;
    width: 24px;
    height: 2px;
    background-color: @black;
    cursor: pointer;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  @media (min-width: @tablet) {
    display: none;
  }
}
//
