.product-definition {
  list-style: none;
  .margin-padding();

  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    column-gap: 60px;
    row-gap: 60px;
  }

  @media (min-width: @desktop) {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.product-definition__items {
  padding-top: 19px;
  height: 209px;
  padding-bottom: 25px;
  border-top: 1px solid @border-catalog;

  @media (min-width: @tablet) {
    border: none;
    width: 324px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 0;
    height: 511px;
  }

  @media (min-width: @desktop) {
    width: 245px;
  }
}

.product-definition__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  .margin-block();

  @media (min-width: @tablet) {
    display: grid;
    width: 324px;
    min-height: 511px;
    padding-top: 0;
    padding-bottom: 39px;
    grid-template-rows: 1fr repeat(3, min-content);
    justify-content: center;
    justify-items: center;
    margin: 0;
    align-items: flex-end;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 84%;
      bottom: 0;
      background-color: @background-cart;
      z-index: -1;
    }
  }

  @media (min-width: @desktop) {
    width: auto;
  }
}

.product-definition__items:last-child {
  border-bottom: 1px solid @border-catalog;

  @media (min-width: @tablet) {
    border: none;
  }
}

.product-definition__title {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;

  color: @black-2;
  padding-bottom: 13px;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
    padding: 0;
  }

  &--style {
    padding-bottom: 8px;
    position: relative;

    @media (min-width: @desktop) {
      padding-bottom: 0;
    }
  }
}

.product-definition__title-sup {
  @media (min-width: @tablet) {
    position: relative;
    left: 3px;
  }

  @media (min-width: @desktop) {
    top: -3px;
    left: 2px;
  }
}

.product-definition__title--style::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: @balck-d3;
  top: -40px;
  left: 87px;
  transform: rotate(-90deg);

  @media (min-width: @tablet) {
    width: 60px;
    top: -78px;
    left: 46px;
  }

  @media (min-width: @desktop) {
    left: 43px;
  }
}

.product-definition__title--style::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: @balck-d3;
  top: -40px;
  left: 87px;

  @media (min-width: @tablet) {
    width: 60px;
    top: -78px;
    left: 46px;
  }

  @media (min-width: @desktop) {
    left: 43px;
  }
}

.product-definition__title:not(:last-child) {
  width: 80px;

  @media (min-width: @tablet) {
    width: 150px;
    margin: 0 auto 13px;
  }

  @media (min-width: @desktop) {
    margin: 0 10px 13px 12px;
  }
}

.product-definition__title:last-child {
  @media (min-width: @tablet) {
    width: 60%;
    margin-bottom: 7px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 16px;
  }
}

.product-definition__title--position-last {
  @media (min-width: @tablet) {
    margin-bottom: 7px;
  }
}

.product-definition__text {
  font-family: @arial-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  .margin-padding();

  color: @black-4;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 16px;
    border-bottom: 1px solid @border-color-stats;
    padding-top: 7px;
    padding-bottom: 8px;
  }

  @media (min-width: @desktop) {
    margin-left: 3px;
  }
}

.product-definition__text:last-child {
  margin-bottom: 21px;

  @media (min-width: @tablet) {
    text-align: center;
    margin-bottom: 33px;
  }
}

.product-definition__text--style {
  @media (min-width: @tablet) {
    border: none;
    width: 170px;
    margin-bottom: 100px;
  }
}

.product-definition__item {
  grid-column: 1 e("/") 2;
  grid-row: 1 e("/") 2;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (min-width: @tablet) {
    grid-column: 1 e("/") 2;
    grid-row: 1 e("/") 2;
    display: block;
    margin-bottom: 31px;

    &--style2 {
      margin-bottom: 26px;
    }
  }

  @media (min-width: @desktop) {
    margin-bottom: 40px;

    &--style2,
    &--style4,
    &--style6 {
      margin-bottom: 39px;
    }
  }
}

.product-definition__button {
  grid-column: 1 e("/") 3;
  grid-row: 2 e("/") 3;
  font-size: 16px;

  @media (min-width: @tablet) {
    grid-column: 1 e("/") 2;
    grid-row: 3 e("/") 4;
    width: 248px;
  }

  @media (min-width: @desktop) {
    width: 170px;
  }
}

.product-definition__heading-block {
  display: flex;
  justify-content: center;
}

.product-definition__ihformation-product {
  @media (min-width: @tablet) {
    grid-column: 1 e("/") 2;
    grid-row: 2 e("/") 3;
    width: 249px;
  }

  @media (min-width: @desktop) {
    width: 170px;
  }
}

.product-definition__ihformation-product--style {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet) {
    margin-bottom: 47px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 49px;
  }
}

.product-definition__container-more {
  display: flex;
  flex-direction: column;
  .margin-block();
  padding-top: 57px;

  @media (min-width: @tablet) {
    margin-top: 80px;
    padding-bottom: 38px;
    padding-top: 73px;
    align-items: center;
    border: 1px solid @border-catalog;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    justify-content: flex-end;
  }

  @media (min-width: @desktop) {
    padding-top: 50px;
  }
}

.product-definition__text-sup--style {
  @media (min-width: @tablet) {
    position: relative;
    right: 4px;
    top: 1px;
  }

  @media (min-width: @desktop) {
    top: 0;
    right: 0;
    margin-left: 0;
  }
}
//
