//
.promo-item__title-sub {
  color: @white;
  padding-top: 27px;
  padding-bottom: 25px;
}

.promo-item__title-sup {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  color: @white;
  .margin-padding();
  padding-bottom: 29px;
}

.promo-item__picture {
  text-align: center;
}

//
