.promo {
  margin-bottom: 22px;
}

.promo-item__heading {
  background-color: @background-green-promo;
}

.promo-item__title-sub {
  .font-family-oswald();
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  .margin-padding();

  color: @white;
}

.promo-item__title-sup {
  .font-family-oswald();
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  .margin-padding();

  color: @white;
}

.promo-item__link-item {
  .font-family-oswald();
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  .text-decoration();
  text-transform: uppercase;

  color: @white;
  background-color: @background-button;
}
//
