//
.promo {
  background-image: url("../img/index-background.jpeg"), linear-gradient(to top, @white 175px, transparent 175px);
  background-repeat: no-repeat;
  background-position: center bottom, center bottom, 175px;
  background-size: auto, 302px, auto;
  background-color: @background-green-promo;

  margin-bottom: 22px;
}
