.promo-item__container {
  @media (min-width: @desktop) {
    padding: 90px 30px 0 80px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, auto);
  }
}

.promo-item__title-sub {
  color: @white;
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: @tablet) {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    color: @black;
    width: 60%;
    margin-left: 12%;
    padding-bottom: 41px;
    text-align: left;
  }

  @media (min-width: @desktop) {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    width: 570px;
  }
}

.promo-item__title-sup {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  color: @white;
  .margin-padding();
  padding-bottom: 29px;

  @media (min-width: @tablet) {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: @black;
    margin-left: 12%;
  }

  @media (min-width: @desktop) {
    margin-left: 0;
    grid-row: 2 e("/") 3;
  }
}

.promo-item__picture {
  text-align: center;

  @media (min-width: @tablet) {
    display: none;
    width: auto;
  }

  @media (min-width: @desktop) {
    display: block;
    grid-row: 1 e("/") 5;
    grid-column: 2 e("/") 3;
    width: 552px;
    height: 499px;

    &-item {
      width: 552px;
      height: 499px;
      margin-top: -82px;
      margin-left: -390px;
    }
  }
}

.promo-item__link {
  @media (min-width: @tablet) {
    background-image: url("../img/index-can-tablet.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: auto;
    height: 609px;
  }

  @media (min-width: @desktop) {
    background-image: none;
    margin-bottom: 0;
    height: auto;
    grid-row: 3 e("/") 4;
  }
}

.promo-item {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop) {
    display: block;
  }
}

.promo-item__link-item {
  @media (min-width: @tablet) {
    margin-top: 29px;
    margin-left: 12%;
    width: 34%;
    height: 54px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding: 14px 0;
  }

  @media (min-width: @desktop) {
    margin-left: 0;
    width: 244px;
  }
}
//
