.stats {
  background-color: @background-stats;
}

.stats__title {
  padding-top: 27px;
  margin-bottom: 33px;
}

.stats__stats-container {
  margin-bottom: 11px;
}

.stats__info-text {
  font-family: @arial-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  .margin-padding();

  color: @black-4;
  margin-bottom: 25px;
}

.stats__stats-text {
  font-family: @oswald-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  .margin-padding();
  text-transform: uppercase;

  color: @black;
  border: 1px solid @border-color-stats;
}

.stats__stats-text-design {
  font-family: @arial-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  .margin-padding();

  color: @black-4;
}

.stats__cost-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  .margin-padding();

  color: @black;
  margin-bottom: 42px;
}
//
