.stats {
  background-color: @background-stats;

  @media (min-width: @tablet) {
    background: linear-gradient(to top, @background-stats 42.7%, @white 1%);
    padding-bottom: 26px;
  }

  @media (min-width: @desktop) {
    background: linear-gradient(to top, @background-stats 72%, @white 1%);
  }
}

.stats__stats {
  position: relative;

  @media (min-width: @tablet) {
    margin-right: 0;
  }

  @media (min-width: @desktop) {
    margin-right: 42px;
  }
}

.stats__title {
  padding-top: 27px;
  margin-bottom: 33px;

  @media (min-width: @tablet) {
    padding-top: 43px;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 146px;
  }
}

.stats__stats-container {
  margin-bottom: 33px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet) {
    width: 366px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop) {
    width: 100%;
    margin-bottom: 52px;
    justify-content: flex-start;
  }
}

.stats__info-text {
  font-family: @arial-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  .margin-padding();

  color: @black-4;
  margin-bottom: 25px;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
    width: 690px;
  }

  @media (min-width: @desktop) {
    width: 436px;
    margin-bottom: 69px;
  }
}

.stats__stats-text {
  font-family: @oswald-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  .margin-padding();
  text-transform: uppercase;
  padding: 15px 42px 17px 42px;

  color: @black;
  border: 1px solid @border-color-stats;
  border-radius: 5px;

  @media (min-width: @tablet) {
    font-size: 30px;
    line-height: 37px;

    padding: 15px 57px 17px 57px;
  }
}

.stats__stats-text--padding {
  padding: 15px 21px 18px 21px;

  @media (min-width: @tablet) {
    padding: 15px 30px 17px 30px;
  }
}

.stats__stats-design {
  width: 82px;
  position: absolute;
  top: 49px;
  left: 21px;
  background-color: @background-stats;

  @media (min-width: @tablet) {
    width: 142px;
    background-color: @white;
    top: 64px;
    left: 10px;
  }

  @media (min-width: @desktop) {
    background-color: @background-stats;
  }
}

.stats__stats-text-design {
  font-family: @arial-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  .margin-padding();
  text-align: center;

  color: @black-4;

  @media (min-width: @desktop) {
    font-size: 14px;
    line-height: 14px;
  }
}

.stats__cost {
  @media (min-width: @tablet) {
    width: 25%;
    display: flex;
  }

  @media (min-width: @desktop) {
    width: 100%;
  }
}

.stats__cost-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  .margin-padding();

  color: @black;
  margin-bottom: 42px;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.stats__stats-container-flex {
  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    width: 708px;
  }

  @media (min-width: @desktop) {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    width: auto;
  }
}

.stats__container {
  @media (min-width: @desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -15px;
  }
}

.stats__layout {
  @media (min-width: @desktop) {
    width: 36%;
  }
}
//
